<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Meet Particle Dark, one of the Best Dark HTML Templates with Modern, Tech & Startup Style. See it live now!">
	<meta name="author" content="Skilltech Web Design">
	<meta name="keywords" content="particle, particles js html, particle html, dark html themes, dark html templates, dark website design, technology html, modern html, dark, theme, template, skilltech web design, creative html, animated html, portfolio html, PlanckPulse.com"/>

	<meta property="og:title" content="This Dark HTML Theme will blow your mind!"/>
	<meta property="og:description" content="Meet Particle Dark, one of the Best Dark HTML Templates with Modern, Tech & Startup Style. See it live now!"/>
	<meta property="og:image" content="assets/images/facebook-post-img-1200x630-2021.jpg"/>
	<meta property="og:site_name" content="PlanckPulse.com"/>

	<title>Planck Pulse | Home</title>

	<link rel="icon" href="{{url_for('static',filename='favicon.ico') }}" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Play:wght@400;700&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400&family=Blinker:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
	<!-- Icon Fonts -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" /> -->

	<link href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<!-- Animate.css -->
	<link href="{{ url_for('static', filename='vendor/animate/animate.min.css') }}" rel="stylesheet">
	<!-- Off Canvas Menu - Default Theme -->
	<link href="{{ url_for('static', filename='vendor/offcanvas-nav/hc-offcanvas-nav.css') }}" rel="stylesheet">

	<!-- Particle Theme CSS -->
	<link href="{{ url_for('static', filename='css/particle-theme.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/particle-colors.css') }}" rel="stylesheet">

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

	<!-- Simple Forms -->
	<!-- <link rel="stylesheet" href="assets/vendor/simple-forms/css/simple-forms-skilltech-mod.css"> -->

</head>

<body class="pa-homepage pa-dark">

	<!-- Page Transitions
	================================================== -->
	<div class="pa-page-transition pa-page-transition-1 is-active"></div>
	<div class="pa-overlay" style="position: fixed; top: 0; left: 0; z-index: 10002; width: 100vw; height: 100vh; pointer-events: none; background: #091019;"></div>



	


	<!-- Hero Section
	================================================== -->
	<section id="top" class="pa-hero pa-centered-section pa-full-height pa-image-back pushable-content" style="background-image: url('{{ url_for('static',filename='images/hero-dark.jpg') }}');">

		<div class="pa-absolute-fill pa-gradient-back-v1" style="opacity: 0;"></div><!-- Increase opacity to overlay hero with a gradient -->
		<div id="particles-js"></div>

		<div class="container pa-hero-content text-center">
			<div class="row pa-hero-typed-text">
				<div class="col-12">
					<div class="typed-text mega-typed">
						<span class="animated-text-effect">
							<!-- <span class="typed-cursor">|</span> -->
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12" style="max-width: 976px; margin: 0 auto;">
					<h2 class="pa-h2-v2-hero-subhead pa-white">At the forefront of quantum innovation, we craft solutions to decode complexity, drive progress, and redefine possibilities in computation</h2>
				</div>
			</div>
		</div>

	</section>
	<!-- /.pa-hero -->



	<!-- Helper div for inserting before scripts
	================================================== -->
	<div class="pa-body-end"></div>


	<!-- Scripts / Body End
	================================================== -->
	<!-- Vendor Scripts -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-migrate.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/offcanvas-nav/hc-offcanvas-nav.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/parallax/parallax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.easing.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/typed/typed.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/wow/wow.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/particles/particles.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/waypoints/waypoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/counterup/jquery.counterup.min.js') }}"></script>
	
	<!-- Theme Scripts and Inits -->
	<script src="{{ url_for('static', filename='js/particle-theme.js') }}"></script>
	<script src="{{ url_for('static', filename='js/page-home-dark.js') }}"></script>
	

</body>

</html>